.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-top:6vmax;
}

.sidebar > a:first-child {
  padding: 0;
}
.sidebar > a > img {
  width: 100%;
  padding: 1vmax;
  box-sizing: border-box;
  transition: all 0.5s;
}
.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px rgba(247, 183, 172, 0.788));
}
.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
  transform: scale(1.1);
}
.sidebar a > p {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}
.MuiTypography-root {
  background-color: #fff !important;
  font: 200 1rem "Roboto" !important;
}
.MuiSvgIcon-root {
  font: 200 1rem "Roboto" !important;
}

@media screen and (max-width: 600px) {
  .sidebar > a:first-child {
    width: 90%;
    margin: auto;
  }
}
